:root {
    --font-blue: #012538;
    --label: #F2F2F2;
    --btn-background: #FFD95A;
    --btn-background-hover: #012538;
    --form-background: #FFFFFF;
    --btn-font: #333333;
    --grey: #4D555B;
    --black: #000000;

    --blue: #1B768E;
    --blue-rgb: 27, 118, 142;
    --light: #F8F9FA;
    --green: #0A5C32;
}
body.themeDark {
    --font-blue: #012538;
    --label: #F2F2F2;
    --btn-background: #FFD95A;
    --form-background: #EFEFEF;
    --btn-font: #333333;
    --grey: #4D555B;
    --black: #000000;

    --blue: #012538;
    --blue-rgb: 1, 37, 56;
    --light: #D1D3D5;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: bold;
}
ul {
    list-style: none;
    display: none;
}