:root {
    --cor-light-blue: #1B768E;
    --cor-dark-blue: #012538;
    --cor-font-light: #F8F9FA;
    --cor-button-background: #FFD95A;
    --cor-button-font: #333333;
    --cor-grey: #4D555B;
    --black: #00000;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
}
h3 {
    font-size: 1.8em;
}


.artigos,
.materiais {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    background-color: #D1D3D5;
}
.artigo:hover,
.material:hover {
    box-shadow: 10% #333333;
    transition: all 0.2s ease-in-out;
}
.artigos {
    min-height: 100vh;
    padding-top: 5%;
}
.artigos h1 {
    margin: 2rem;
    text-align: center;
}
.materiais {
    height: calc(100vh - var(--footer-height));
    padding-bottom: 3%;
    align-items: stretch;
}
.materiais h1 {
    text-align: center;
    margin: 2rem;
    margin-bottom: 3rem;
}

.listagem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    width: 70%;
    align-items: stretch;
    margin: 0 auto;
}

.recursos {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background-color: #EFEFEF;
    border-radius: 1em;
    
    padding: 4% 3%;
    gap: 3em;
    box-sizing: border-box;
}
.btnRecursos {
    cursor: pointer;
    background-color: #FFD95A;
    color: #000000;
    font-size: 1em;
    font-weight: 600;
    border: 0;
    border-radius: 1.5em;

    height: 2.5rem;
    padding: 0 5%;
}
.btnRecursos:hover {
    background-color: #417D6D;
    color: #F8F9FA;
    transition: all 0.2s ease-in-out;
}


/* Responsiveness */

@media (max-width: 1024px) {
    .artigos {
        padding-top: 10%;
    }
    .materiais {
        padding-bottom: 2%;
    }
    .artigos h1, .materiais h1 {
        font-size: 3em;
    }
    
    h3 {
        font-size: 1.5em;
    }
    span {
        font-size: 1.5em;
    }
    .listagem {
        flex-direction: column;
        width: 85%;
        gap: 1.5rem;
        padding: 5% 0;
    }
    .recursos {
        max-width: 90%;
        padding: 6%;
        gap: 2em;
    }
    .btnRecursos {
        font-size: 1.6em;
        padding: 0 1.5rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.3em;
    }

    .listagem {
        width: 90%;
        flex-direction: column;
        gap: 1.2rem;
    }

    .recursos {
        max-width: 90%;
        padding: 6% 4%;
        gap: 1.5em;
    }

    .btnRecursos {
        font-size: 1.5em;
        height: 3rem;
    }
}


@media (max-width: 480px) {
    .artigos, .materiais {
        padding-top: 30%;
    }
    h1 {
        font-size: 1.5em;
    }
    .listagem {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }

    .recursos {
        max-width: 90%;
        padding: 8% 3%;
        gap: 1.2em;
    }

    .btnRecursos {
        width: 90%;
        font-size: 1.2em;
        height: 3.2rem;
        padding: 0 3%;
    }
}
