:root {
    --cor-light-blue: #1B768E;
    --cor-dark-blue: #012538;
    --cor-font-light: #F8F9FA;
    --cor-button-background: #FFD95A;
    --cor-button-font: #333333;
    --cor-grey: #4D555B;
    --black: #00000;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
}
h3 {
    font-size: 1.8em;
}

.descricao {
    text-align: center;
    margin: 1.5rem auto 3rem auto;
    font-size: 1.4rem;
    color: var(--cor-dark-blue);
    max-width: 60ch;
    padding-top: 1rem;
    width: 85%;
}

.artigos,
.materiais {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #D1D3D5;
}
.artigo:hover,
.material:hover {
    box-shadow: 10% #333333;
    transition: all 0.2s ease-in-out;
}
.artigos {
    min-height: 100vh;
    padding-top: 90px;
}

.materiais {
    height: calc(100vh - var(--footer-height));
    padding-bottom: 3%;
    align-items: stretch;
}

.artigos h1 {
    margin: 3rem 3rem 0 3rem;
    text-align: center;
    white-space: normal;
    word-break: break-word; 
}

.materiais h1 {
    margin: 3rem 3rem 0 3rem;
    text-align: center;
    white-space: normal;
    word-break: break-word; 
}

.listagem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    width: 90%;
    align-items: stretch;
    margin: 0 auto;
}

.recursos {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background-color: #EFEFEF;
    border-radius: 1em;
    
    padding: 4% 3%;
    gap: 3em;
    box-sizing: border-box;
}

.recursos span {
    font-size: 1.2em;
}

.btnRecursos {
    cursor: pointer;
    background-color: #FFD95A;
    color: #000000;
    font-size: 1em;
    font-weight: 600;
    border: 0;
    border-radius: 1.5em;

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 1em 1.5em;

    white-space: normal;
    word-break: break-word; 
    text-align: center; 
    transition: all 0.2s ease-in-out;

    max-width: 100%;
}

.btnRecursos:hover {
    background-color: #417D6D;
    color: #F8F9FA;
    transform: scale(1.02);
}


/* Responsiveness */

@media (max-width: 1024px) {
    .materiais {
        padding-bottom: 2%;
    }
    .listagem h3 {
        font-size: 1.5em;
    }
    .listagem {
        flex-direction: column;
        align-items: center;
        width: 85%;
        gap: 1.5rem;
        padding: 5% 0;
        height: 100%;
    }
    .recursos {
        width: 90%;
        padding: 6%;
        gap: 2em;
    }
    .btnRecursos {
        padding: 1em 1.8em;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.3em;
    }

    .listagem {
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
    }

    .recursos {
        max-width: 90%;
        padding: 1em 1.8em;
        gap: 1.5em;
    }
}


@media (max-width: 480px) {
    .materiais {
        padding-top: 10%;
    }

    .artigos h1,
    .materiais h1 {
        font-size: 2em;
    }

    .descricao {
        font-size: 1.2rem;
    }

    .listagem {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }

    .recursos {
        max-width: 90%;
        padding: 8% 6%;
        gap: 1.2em;
    }

    .btnRecursos {
        width: 90%;
        max-height: 55px;
        font-size: 0.9em;
    }
}
