footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
    padding: 0.5% 3% 0.5% 3%;
    background-color: var(--cor-grey);
    color: var(--cor-font-light);
    
    font-size: 1.3em;
    box-sizing: border-box;
}

#logos {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#logos img {
    height: 100%;
    min-height: 39px;
}

/* Responsiveness */

@media (max-width: 1030px) {
    footer {
        font-size: 0.9em;  
    }
}

@media (max-width: 825px) {
    footer {
        font-size: 1em;  
    }
    #devs {
        display: none;
    }
    #logos img {
    height: 80%;
}
}

@media (max-width: 600px) {
    #devs {
        display: none;
    }

    #scholarships span {
        font-size: 1.2em;
    }
}