:root {
    --cor-blue-dark: #012538;
    --cor-amarela: #FFD95A;
    --cor-hover: #417D6D;
    --cor-texto-link: #004F73;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.auth {
    display: flex;
    height: 100vh;
    background-color: var(--cor-blue-dark);
}

.authLogo {
    background-color: var(--cor-blue-dark);
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.authLogo img {
    max-width: 60%;
}

.authForm {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: #FFFFFF;
    padding: 4vh 5vw;
    
}
.authFormTitles {
    text-align: center;
    max-width: 60%;
}
.authForm h1 {
    margin-bottom: 10%;
}


.authForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2em;
    width: 100%;
    max-width: 50%;
}

.authForm label {
    margin-top: 3%;
}

.authForm input {
    padding: 3%;
    border: none;
    font-size: 1em;
    background-color: #f2f2f2;
    box-shadow: 0 .2em .3em #777777;
}

.authForm input:focus {
    outline: none;
    box-shadow: 0 .2em .3em #000000;
}

.button {
    background-color: var(--cor-amarela);
    border: 0;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    height: 2.5em;
    width: 10em;
    border-radius: 1.6em;
    align-self: center;
}

.button:hover {
    background-color: var(--cor-hover);
    color: #F8F9FA;
    transition: all 0.2s ease-in-out;
}

.link {
    color: var(--cor-texto-link);
    text-decoration: none;
    align-self: flex-end;
    gap: 1em;
}

/* Responsiveness */
@media screen and (max-width: 1300px) {
    .authForm form {
        max-width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    .authLogo {
        display: none;
    }
    .authForm {
        display: flex;
        margin: 10%;
        border-radius: 3em;
        padding: 5% 0;
    }
    h1 {
        font-size: 4em;
    }
    label {
        font-size: 2.5em;
    }
    input {
        font-size: 3em;
    }
    .link {
        font-size: 1.8em;
    }
    .button {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 670px) {
    .authForm {
        margin: 5%;
        padding: 10% 0;
    }

    
}
