:root {
    --cor-blue-dark: #012538;
    --cor-amarela: #FFD95A;
    --cor-hover: #417D6D;
    --cor-texto-link: #004F73;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.auth {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(135deg, #012538 20%, #023954 60%, #0277A3 100%);
}

.authLogo {
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.authLogo img {
    max-width: 60%;
}

.authForm {
    position: relative;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #FFFFFF;
    padding: 4vh 5vw;
    max-width: 100%;
    border-radius: 5em 0 0 5em;
    box-sizing: border-box;
}
.authForm,
.authForm * {
    overflow-wrap: break-word;
    word-break: break-word;
}

.goBack {
  position: absolute;
  top: 1rem;
  left: 1rem;
  align-self: flex-start;
  justify-self: auto;
  padding: 2vh 3vw;
  display: flex;
  font-weight: 500;
  align-items: center;
}

.authFormTitles {
    text-align: center;
    max-width: 60%;
}
.authForm h1 {
    margin-bottom: 10%;
}


.authForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 50%;
}

.authForm label {
    margin-top: 3%;
}

.authForm input {
    padding: 3%;
    border: none;
    font-size: 1em;
    background-color: #f2f2f2;
    box-shadow: 0 .2em .3em #777777;
}

.authForm input:focus {
    outline: none;
    box-shadow: 0 .2em .3em #000000;
}

.checkboxField {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  box-shadow: 0 0 0;
  margin-bottom: 2rem;
}

.link {
    color: var(--cor-texto-link);
    text-decoration: none;
    align-self: flex-end;
    margin: 0.5em 0 2em 0;
    transition: all 0.2s ease-in-out;
}

.link:hover {
    transform: scale(1.02);
}

/* Responsiveness */
@media screen and (max-width: 1300px) {
    .authFormTitles {
        max-width: 80%;
    }

    .authForm form {
        max-width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    .authForm {
        gap: 0;
    }
    .authLogo {
        display: none;
    }
    .authForm {
        display: flex;
        margin: 10%;
        padding: 0;
        overflow-y: auto;   
        overflow-x: hidden; 
        box-sizing: border-box;
        border-radius: 0;
        justify-content: center;
    }
    .authFormTitles {
        max-width: 80%;
    }
    .authFormTitles h1 {
        margin: 1.5rem 0;
    }
    .authFormTitles span {
        font-size: 1.2rem;
    }
    .link {
        font-size: 1em;
    }
    .button {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 670px) {
    .authForm {
        margin: 5%;
        padding: 10% 0;
        justify-content: center;
    }

    .authFormTitles span {
        font-size: 1em;
    }
}
