:root {
    --cor-blue-dark: #012538;
    --cor-amarela: #FFD95A;
    --cor-hover: #417D6D;
    --cor-texto-link: #004F73;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.auth {
    display: flex;
    height: 100vh;
    background-color: var(--cor-blue-dark);
}

.authLogo {
    background-color: var(--cor-blue-dark);
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.authLogo img {
    max-width: 60%;
}

.authForm {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #FFFFFF;
    padding: 4vh 5vw;
    max-width: 100%;
    box-sizing: border-box;
}
.authForm,
.authForm * {
    overflow-wrap: break-word;
    word-break: break-word;
}
.authFormTitles {
    text-align: center;
    max-width: 60%;
}
.authForm h1 {
    margin-bottom: 10%;
}


.authForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    width: 100%;
    max-width: 50%;
}

.authForm label {
    margin-top: 3%;
}

.authForm input {
    padding: 3%;
    border: none;
    font-size: 1em;
    background-color: #f2f2f2;
    box-shadow: 0 .2em .3em #777777;
}

.authForm input:focus {
    outline: none;
    box-shadow: 0 .2em .3em #000000;
}

.link {
    color: var(--cor-texto-link);
    text-decoration: none;
    align-self: flex-end;
    margin-top: 0.5em;
}

/* Responsiveness */
@media screen and (max-width: 1300px) {
    .authForm form {
        max-width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    .authLogo {
        display: none;
    }
    .authForm {
        display: flex;
        margin: 10%;
        border-radius: 3em;
        padding: 5% 0;
        overflow-y: auto;   
        overflow-x: hidden; 
        box-sizing: border-box;
    }
    .authFormTitles {
        max-width: 80%;
    }
    .authFormTitles h1 {
        margin: 1.5rem 0;
        font-size: 3rem;
    }
    .authFormTitles span {
        font-size: 1.2rem;
    }
    .link {
        font-size: 1.3em;
    }
    .button {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 670px) {
    .authForm {
        margin: 5%;
        padding: 10% 0;
    }

    
}
