:root {
    --cor-light-blue: #1B768E;
    --cor-dark-blue: #012538;
    --cor-font-light: #F8F9FA;
    --cor-button-background: #FFD95A;
    --cor-button-font: #333333;
    --cor-grey: #4D555B;
    --black: #00000;
}
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
}
h3 {
    font-size: 1.8em;
    font-weight: bold;
}

.descricao {
    text-align: center;
    margin: 1.5rem auto 3rem auto;
    font-size: 1.4rem;
    color: var(--cor-dark-blue);
    max-width: 60ch;
    padding-top: 1rem;
    width: 85%;
}

.pesquisadores,
.alunos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #D1D3D5;
    min-height: 100vh;
}
.pesquisador:hover,
.aluno:hover {
    box-shadow: 1em #333333;
    transition: all 0.2s ease-in-out;
}
.pesquisadores {
    padding-top: 90px;
}
.alunos {
    background-color: #D1D3D5;
    height: calc(100vh - var(--footer-height));
    padding-bottom: 3%;
    align-items: stretch;
}

.alunos h1, .pesquisadores h1 {
    margin: 3rem 3rem 0 3rem;
    text-align: center;
    white-space: normal;
    word-break: break-word;
}

.listagem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    width: 90%;
    align-items: stretch;
    margin: 0 auto;
}

.alunos .listagem {
    padding: 0;
}

.card {
    display: flex;
    flex: 1 1 30%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;

    background-color: #EFEFEF;
    border-radius: 1em;
    padding: 4% 3%;
    gap: 1em;
    box-sizing: border-box;
}

.btnRecursos {
    cursor: pointer;
    background-color: #FFD95A;
    color: #000000;
    font-size: 1em;
    font-weight: 600;
    border: 0;
    border-radius: 1.5em;

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 1em 1.5em;

    white-space: normal;
    word-break: break-word; 
    text-align: center; 
    transition: all 0.2s ease-in-out;

    max-width: 100%;
}

.btnRecursos:hover {
    background-color: #417D6D;
    color: #F8F9FA;
    transform: scale(1.02);
}

/* Responsiveness */

@media (max-width: 1024px) {
    
    .alunos h1, .pesquisadores h1 {
        font-size: 3rem;
    }
    .listagem {
        flex-direction: row;
        gap: 1.5rem;
    }
    .alunos .listagem {
        margin-bottom: 2rem;
    }

}

@media (max-width: 768px) {
    .pesquisadores, .alunos {
        padding-top: 18%;
    }
    .listagem {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1.5rem;
        padding: 5% 5% 0 0;
    }

    .card {
        flex: 1 1 100%;
        max-width: 90%;
    }

    .btnRecursos {
        font-size: 0.95em;
        height: 3rem;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .pesquisadores, .alunos {
        padding-top: 30%;
    }
    .alunos h1 h3, .pesquisadores h1 h3{
        text-align: center;
    }
    .alunos h1, .pesquisadores h1 {
        font-size: 2rem;
    }

    .card {
        padding: 1.5em;
        gap: 1em;
    }

    .btnRecursos {
        font-size: 0.9em;
        height: 3.2rem;
    }
}