.formInput,
.formInputSelect {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--form-background);
  color: var(--black);
  box-shadow:
    0 2px 5px rgba(150, 150, 150, 0.4),
    0 6px 8px rgba(150, 150, 150, 0.6);
  transition: box-shadow 0.3s ease;
}

.formInput:focus,
.formInputSelect:focus {
  outline: none;
  background-color: var(--light);
  box-shadow:
    0 0 0 3px rgba(13, 164, 173, 0.2),
    0 2px 5px rgba(150, 150, 150, 0.4);
}

.formInput::placeholder,
.formInputSelect option:first-child {
  color: var(--grey);
}

.formLabel {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--black);
  font-size: 1rem;
}

.inputGroup {
  position: relative;
  margin-bottom: 2rem; /* para espaço entre campos */
}

.errorMessage {
  position: absolute;
  bottom: -1.3rem;
  left: 0;
  color: red;
  font-size: 0.875rem;
}

.formTextarea {
  height: 18vh;
  resize: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  background-color: var(--form-background);
  color: var(--black);
  box-shadow:
    0 2px 5px rgba(150, 150, 150, 0.4),
    0 6px 8px rgba(150, 150, 150, 0.6);
  transition: box-shadow 0.3s ease;
}

.formTextarea:focus {
  outline: none;
  background-color: var(--light);
  box-shadow:
    0 0 0 3px rgba(13, 164, 173, 0.2),
    0 2px 5px rgba(150, 150, 150, 0.4);
}

input[readonly] {
  background-color: var(--input-read);
  cursor: default;
  border: 1px solid #ccc;
  color: #555;
}

input[readonly]:focus {
  background-color: var(--input-read);
    box-shadow:
    0 2px 5px rgba(150, 150, 150, 0.4),
    0 6px 8px rgba(150, 150, 150, 0.6);
}

/* Responsividade */
@media (max-width: 768px) {
  .formLabel {
    font-size: 0.95rem;
  }

  .formInput,
  .formInputSelect,
  .formTextarea {
    font-size: 0.95rem;
    padding: 0.6rem 0.7rem;
  }

  .errorMessage {
    font-size: 0.8rem;
    bottom: -1.2rem;
  }
}

@media (max-width: 480px) {
  .formLabel {
    font-size: 0.9rem;
  }

  .formInput,
  .formInputSelect,
  .formTextarea {
    font-size: 0.9rem;
    padding: 0.5rem 0.6rem;
  }

  .errorMessage {
    font-size: 0.75rem;
    bottom: -1.1rem;
  }
}
